/*.chart-series-line {*/
/*    -fx-stroke-width: 2px;*/
/*    -fx-effect: null;*/
/*}*/

.chart-series-line.series0 {-fx-stroke: #00ff00;}
.chart-line-symbol.series0 {-fx-background-color: #00ff00, white;}
.chart-series-line.series1 {-fx-stroke: #ff0000;}
.chart-line-symbol.series1 {-fx-background-color: #ff0000, white;}
.chart-series-line.series2 {-fx-stroke: #ff8000;}
.chart-line-symbol.series2 {-fx-background-color: #ff8000, white;}
.chart-series-line.series3 {-fx-stroke: #0000ff;}
.chart-line-symbol.series3 {-fx-background-color: #0000ff, white;}
.chart-series-line.series4 {-fx-stroke: #ff00ff;}
.chart-line-symbol.series4 {-fx-background-color: #ff00ff, white;}
.chart-series-line.series5 {-fx-stroke: #00ffff;}
.chart-line-symbol.series5 {-fx-background-color: #00ffff, white;}
.chart-series-line.series6 {-fx-stroke: #808000;}
.chart-line-symbol.series6 {-fx-background-color: #808000, white;}
.chart-series-line.series7 {-fx-stroke: #800080;}
.chart-line-symbol.series7 {-fx-background-color: #800080, white;}
.chart-series-line.series8 {-fx-stroke: #00ff80;}
.chart-line-symbol.series8 {-fx-background-color: #00ff80, white;}
.chart-series-line.series9 {-fx-stroke: #0080ff;}
.chart-line-symbol.series9 {-fx-background-color: #0080ff, white;}
.chart-series-line.series10 {-fx-stroke: #000000;}
.chart-line-symbol.series10 {-fx-background-color: #000000, white;}
.chart-series-line.series11 {-fx-stroke: #8000ff;}
.chart-line-symbol.series11 {-fx-background-color: #8000ff, white;}
.chart-series-line.series12 {-fx-stroke: #ff8080;}
.chart-line-symbol.series12 {-fx-background-color: #ff8080, white;}
.chart-series-line.series13 {-fx-stroke: #808080;}
.chart-line-symbol.series13 {-fx-background-color: #808080, white;}
.chart-series-line.series14 {-fx-stroke: #8080ff;}
.chart-line-symbol.series14 {-fx-background-color: #8080ff, white;}
.chart-series-line.series15 {-fx-stroke: #008080;}
.chart-line-symbol.series15 {-fx-background-color: #008080, white;}
.chart-series-line.series16 {-fx-stroke: #ff0080;}
.chart-line-symbol.series16 {-fx-background-color: #ff0080, white;}
.chart-series-line.series17 {-fx-stroke: #ffff00;}
.chart-line-symbol.series17 {-fx-background-color: #ffff00, white;}
.chart-series-line.series18 {-fx-stroke: #800000;}
.chart-line-symbol.series18 {-fx-background-color: #800000, white;}
.chart-series-line.series19 {-fx-stroke: #008000;}
.chart-line-symbol.series19 {-fx-background-color: #008000, white;}
.chart-series-line.series20 {-fx-stroke: #000080;}
.chart-line-symbol.series20 {-fx-background-color: #000080, white;}
